@import "tailwindcss";
@import "./fonts.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-minion: "MinionPro", serif;
  --color-accent: #ff4d29;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    background: #000;
    color: #fff;
    font-family: var(--font-minion);
  }
}

@layer utilities {
  .noise-bg {
    position: relative;
  }
  .noise-bg::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.15;
    background-image: url("https://grainy-gradients.vercel.app/noise.svg");
    z-index: 100;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
